@tailwind base;
@tailwind components;
@tailwind utilities;

.HomeBgFon {
  background-image: url(https://wallpaperaccess.com/full/3949083.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.QuationsBgFon {
  background-image: url(https://wallpaperaccess.com/full/3949083.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.BgGlassEfect{
  background-color: rgba(255, 255, 255, 0.5); /* Beyaz ve %50 opaklık */

}

